.blurb{
  margin-top:30px;
  width:100%;
color:$black;
  box-sizing: border-box; /* fit parent width */
  resize: none;
  flex: 5;
  clear: both;
  outline: none;
  // height: 120px;
  background-color: rgba(255,255,255,0.75);
  border: 4px solid $brand-primary;
}