@import "./components/variables.scss";

header {
  min-height: 40px;
  padding: 10px;
  background-color: $white;
  align-items: baseline;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $font-condensed;
  letter-spacing: 0.5px;
  h1,
  h3 {
    margin: 0px;
  }
  h1{
    // margin-left:6%;
    font-size: 24px;
    margin-right:20px;
  }
  h3{
    font-size:14px;
  }
}

.title-text-holder{
display: flex;
align-items: baseline;
}

header h1 {
  margin-right: 10px;
}

#headerlogo {
  /* min-height: 80%; */
  max-height: 40px;
}
