table {
  // background-color:red;
  tr {
    td {
      border: 1px solid black;
      img {
        object-fit: scale-down;
        width: 75px;
        max-height: 35px;
      }
    }
  }
}

table {
  font-family: 'Raleway', sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size:14px;
  // margin:15px;
  box-sizing: border-box;
  
    td, th {
      border: 1px solid #64706c;
      text-align: left;
      padding: 8px;
    }
}


tr:nth-child(even) {
  background-color: #dddddd;
}


.margin-table{
  padding:15px;
}