.footer{
  width: 100%;
  height:100px;
  background-color: $brand-primary;
  margin-top:20px;
  padding:40px;
  box-sizing: border-box;
  color: $white;
  font-family: $font-condensed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}