.floatLeft {
  .inputArea {
    float: left;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    @media (min-width: $tablet) {
      flex-direction: row;
    }

    textarea {
      width: 100%;
      // background-color: aqua;
      box-sizing: border-box;
      background-color: $white;
      border: 4px solid $brand-primary;
      // border-width: 4px 4px 0px 4px;
      @media (min-width: $tablet) {
        resize: none;
        flex: 5;
        clear: both;
        outline: none;
        height: 120px;
        background-color: $white;
        border: 4px solid $brand-primary;
        // border-width: 4px 0px 4px 4px;
        padding: 5px;
      }
      &::placeholder {
        color: $grey;
        font-family: $font-condensed;
        font-size: 12px;
      }
      &::-webkit-input-placeholder {
        color: $grey;
        font-family: $font-condensed;
        font-size: 12px;
      }

      &:-moz-placeholder {
        color: $grey;
        font-family: $font-condensed;
        font-size: 12px;
      }

      &::-moz-placeholder {
        color: $grey;
        font-family: $font-condensed;
        font-size: 12px;
      }

      &:-ms-input-placeholder {
        color: $grey-light;
        font-family: $font-condensed;
        font-size: 16px;
      }
    }
    button {
      background-color: $brand-primary;
      // border: 4px solid $brand-primary;
      border-width: 0px;
      font-family: $font-regular;
      cursor: pointer;
      color: #f5fff3;
      letter-spacing: 0.5px;
      @media (min-width: $tablet) {
        flex: 1;
        height: 120px;
        // border-width: 1px 1px 1px 0px;
        // border-style: solid;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 4px solid $brand-primary;
        margin-left: 0;
      }
      &:focus {
        outline: 0;
      }
h3{
  font-size: 12px;
}
    }
    textarea {
      // display: block;
    }
  }
  input::-moz-focus-inner {
    padding: 0;
    border: 0;
    margin-top: -2px;
    line-height: 17px;
  }
}
