@import "./components/variables.scss";





header {
  min-height: 40px;
  padding: 10px;
  background-color: $white;
  align-items: baseline;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $font-regular !important;
  color: $black;
  letter-spacing: 1px;
  font-weight: 600;
  h1,
  h3 {
    margin: 0px;
  }
  h1{
    
    font-size: 24px;
    margin-right:20px;
  }
  h3{
    display: none;
    font-size:14px;
  }
  .title-text-holder{
  // display: flex;
  align-items: baseline;
  display: none;
  }
  #headerlogo {
    max-height: 40px;
  }
  .social-bar{
    display: none;
  }
  @media (min-width: $tablet) {
    .title-text-holder{
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: $desktop) {
      h3{
        display: block;
      }
    .social-bar{
      display: block;
    }
  }
}



