
.subheading{
  // width: 100%;
  height: 40px;
  background-color: $brand-red;
  // display: flex;
  justify-content:center;
  align-items:center;
  line-height:20px;
  color:$grey-light;
  font-family: $font-regular;
  
  ul#horizonatalnavbar {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // width: 100%;
    height: 40px;
    // justify-content: space-between;
    li.navmenuitem {
      // display: inline-block;
      // display:flex;
      margin-left: 0px;
      box-sizing: border-box;
      background-color: $brand-red;
      line-height: 30px;
      font-weight: 600;
    font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      flex-grow: 1;
      text-transform: uppercase;
      color:$grey-light;
    }
  }
}

// .navmenuitem{
//   line-height: 30px;
//   font-weight: 600;
// font-size: 12px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
//   flex-grow: 1;
//   text-transform: uppercase;
//   color:$grey-light;
// }

.navmenuitem a{
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: inherit;

}

.navmenuitem a img{
  background-color: white;
  margin-right:4px;
  transition: 0.5s
}

.navmenuitem:hover a {
  color: #444444;
  transition: 0.5s;
}
.navmenuitem:hover{
  background-color: brown;
}


.navmenuitem:hover{
   /* text-decoration: underline; */
   transition: 0.2s;
  //  border-bottom: 3px solid #4b1da1;
  color:$brand-red-hover;
   

 }



ul{
  padding:0px;
  margin: 0px;
}


li {
  // display: block;
  transition-duration: 0.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
ul li{
  position: relative;
}

 ul li ul {
   top:27px;
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: all 0.5s ease;
   margin-top: 12px;
   right: 0;
   display: none;
   z-index: 500;
  //  background-color: $brand-red;
  //  padding: 0px 10px;
  //  width: 400px;
 }
 
 ul li:hover > ul,
 ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
 }
 
 ul li ul li {
   clear: both;
   position:relative;
   border: 1px solid black;
  //  border-width: 0px 1px 1px 1px;
  width:150px;
  display: flex;
  align-content: center;
  background-color: $brand-red;
  img.flag{
    width:40px;
    height:24px;
    background-color: transparent;
    padding:4px;
  }
  p{
    text-align: center;
    margin:0;
    padding:0;
  }

 }

 ul li ul li:hover{
  background-color: $brand-red-hover;

 }

 .langImage{
   background-color: #ec9a29;
 }