$font-regular: 'Poppins', sans-serif;;
$font-condensed: 'Poppins', sans-serif;;


$brand-primary: #abd306;
$brand-secondary: #43aa8b;

$brand-red:#4b1da1;

$brand-primary-hover: #5c7a83;
$brand-secondary-hover: #65b9a0;

$black: #535e74;
$white: #fff;
$grey-lighter: #f9f9f9;
$grey-light: #e7e7e7;
$grey: #a9a9a9;
$grey-dark: #888888;

// BREAKPOINTS

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1440px;