@font-face {
  font-family: "sarosregular";
  src: url("/fonts/saros-regular-webfont.woff2") format("woff2"),
    url("/fonts/saros-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-regular: "Poppins", sans-serif;
$font-condensed: "Poppins", sans-serif;

$brand-primary: #ff715b;
$brand-secondary: #43aa8b;

$brand-red: #0c70af;

$unselected: #dbdbdb;

$brand-primary-hover: #5c7a83;
$brand-red-hover: #06d6a0;

$black: #444444;
$white: #fff;
$grey-lighter: #f9f9f9;
$grey-light: #e7e7e7;
$grey: #a9a9a9;
$grey-dark: #888888;

// BREAKPOINTS

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1440px;

button{
  &[disabled]{
    background-color: $grey;
    cursor: not-allowed;
  }
}
button.button {
  padding: 10px 20px;
  background: $brand-primary;
  // border-radius: 15px;
  color: $white;
  font-family: $font-regular;
  border: none;
  margin: 0 8px;
  cursor: pointer;
  font-size: 14px;
  &[disabled] {
    background-color: $grey;
    cursor: not-allowed;
  }
  &.disabled {
    background-color: $grey;
    cursor: not-allowed;
  }
  &:hover {
    &:not([disabled]):not(.disabled) {
      -moz-box-shadow: inset 0 0 5px #000000;
      -webkit-box-shadow: inset 0 0 5px #000000;
      box-shadow: inset 0 0 5px #000000;
      transition: 0.25s;
    }
  }
  p {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

button.secondary {
  background-color: $brand-secondary;
}

button.third {
  background-color: $brand-red;
}

.warning {
  color: $brand-primary;
}

.footnote{
font-size:12px;
}