@font-face {
  font-family: 'sarosregular';
  src: url('/fonts/saros-regular-webfont.woff2') format('woff2'),
       url('/fonts/saros-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


$font-regular: 'sarosregular';
$font-condensed: 'sarosregular';

$brand-primary: #FF715B;
$brand-secondary: #43aa8b;

$brand-red:#0C70AF;

$unselected: #DBDBDB;

$brand-primary-hover: #5c7a83;
$brand-red-hover: #06D6A0;

$black: #444444;
$white: #fff;
$grey-lighter: #f9f9f9;
$grey-light: #e7e7e7;
$grey: #a9a9a9;
$grey-dark: #888888;

// BREAKPOINTS

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1440px;